In [2]:
import pandas as pd

In [7]:
results = pd.read_csv('results/corrected.csv')[['kern1', 'kern2', 'kern3', 'stride1', 'stride1', 'stride2', 'top1_acc', 'top2_acc', 'top3_acc1']]
results.head(10)

,kern1,kern2,kern3,stride1,stride1,stride2,top1_acc,top2_acc,top3_acc1
0,5,3,2,2,2,1,0.679432,0.829647,0.898977
1,5,3,2,2,2,2,0.626609,0.791020,0.869594
2,5,3,2,2,2,3,0.576428,0.749752,0.842192
3,5,3,2,3,3,1,0.652030,0.802245,0.876857
4,5,3,2,3,3,2,0.616045,0.778475,0.867613
5,5,3,2,3,3,3,0.566524,0.742489,0.838230
6,5,3,3,2,2,1,0.667217,0.821393,0.896335
7,5,3,3,2,2,2,0.613404,0.787719,0.867943
8,5,3,3,2,2,3,0.543414,0.724331,0.819412
9,5,3,3,3,3,1,0.672499,0.827336,0.895345

In [8]:
results.sort_values('top1_acc', ascending=False).head(10)

,kern1,kern2,kern3,stride1,stride1,stride2,top1_acc,top2_acc,top3_acc1
36,7,3,2,2,2,1,0.702872,0.844173,0.903268
12,5,3,4,2,2,1,0.689006,0.831297,0.907230
48,7,3,4,2,2,1,0.686365,0.827336,0.893694
45,7,3,3,3,3,1,0.685375,0.825685,0.896996
51,7,3,4,3,3,1,0.683724,0.836250,0.894024
0,5,3,2,2,2,1,0.679432,0.829647,0.898977
15,5,3,4,3,3,1,0.678772,0.837570,0.909541
84,11,3,4,2,2,1,0.678442,0.828656,0.895345
87,11,3,4,3,3,1,0.676131,0.835919,0.902608
39,7,3,2,3,3,1,0.675801,0.837570,0.912512