# Understanding the dataset

In this notebook, we take a look at the dataset in an attempt to better understand it.

In [7]:
import os

import pandas as pd
import matplotlib.pyplot as plt

## Load data

Preprocessed data

In [11]:
data_path = 'dataset/displacements/'

all_files = os.listdir(data_path)
games_displacements = {}
for filename in all_files:
    filepath = data_path + filename
    inputs = pd.read_csv(filepath)
    games_displacements[filename.split('.')[0]] = inputs

games_displacements[all_files[0].split('.')[0]].head(10)

    joy_x  joy_y  frames_elapsed
0 -0.4250    0.0        0.383333
1 -0.5750    0.0        0.016667
2  0.0125    0.0        0.016667
3 -0.0125    0.0        0.133333
4  0.0125    0.0        0.016667
5  0.0875    0.0        0.033333
6  1.2875    0.0        0.016667
7  0.6000    0.0        0.016667
8 -0.9875    0.0        0.183333
9 -1.0000    0.0        0.016667

Original data

In [12]:
data_path = 'dataset/inputs/'

all_files = os.listdir(data_path)
games_inputs = {}
for filename in all_files:
    filepath = data_path + filename
    inputs = pd.read_csv(filepath)
    games_inputs[filename.split('.')[0]] = inputs

games_inputs[all_files[1].split('.')[0]][150:160]

      joy_x   joy_y  cstick_x  cstick_z    z  r_dig  l_dig    a    b    x    y
150  0.9875  0.0000       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
151  0.9875  0.0000       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
152  0.9875  0.0000       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
153  0.7625 -0.6375       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
154  0.7000 -0.7000       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
155  0.0000 -0.9875       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
156  0.0000 -0.9875       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
157  0.0000 -0.9875       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
158  0.0000 -0.9875       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
159  0.0000 -0.9875       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0

## Combine data from files to assemble complete datasets

Combine all of the displacements files into one dataframe

In [13]:
displacements_df = pd.concat([game for game in games_vels.values()], ignore_index=True)
displacements_df.shape

(1818816, 3)

In [14]:
inputs_df = pd.concat([game for game in games_inputs.values()], ignore_index=True)
inputs_df.shape

(5391724, 11)

## How much smaller is the displacements representation?

Number of displacements per frame of the original representation

In [20]:
proportion = displacements_df.shape[0] / inputs_df.shape[0]
proportion

0.33733477455448385

Number of displacements per second

In [21]:
60*proportion

20.24008647326903