In [9]:
import os

import pandas as pd
import matplotlib.pyplot as plt

In [10]:
data_path = 'dataset/velocities/'

all_files = os.listdir(data_path)
games_vels = {}
for filename in all_files:
    filepath = data_path + filename
    inputs = pd.read_csv(filepath)
    games_vels[filename.split('.')[0]] = inputs

games_vels[all_files[0].split('.')[0]].head(10)

    joy_x   joy_y  frames_elapsed
0 -0.9625  0.0000        0.533333
1 -0.0125  0.0000        0.016667
2 -0.0125  0.0000        0.016667
3  0.0250  0.0000        0.066667
4 -0.0125  0.0000        0.016667
5 -0.0125  0.0000        0.016667
6  0.1375 -0.5125        0.033333
7  0.2125 -0.2500        0.016667
8  0.6375 -0.2125        0.016667
9  0.0000 -0.0125        0.016667

In [14]:
data_path = 'dataset/inputs/'

all_files = os.listdir(data_path)
games_inputs = {}
for filename in all_files:
    filepath = data_path + filename
    inputs = pd.read_csv(filepath)
    games_inputs[filename.split('.')[0]] = inputs

games_inputs[all_files[1].split('.')[0]][150:170]

      joy_x   joy_y  cstick_x  cstick_z    z  r_dig  l_dig    a    b    x    y
150 -0.8125  0.5750       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
151 -0.6625  0.6000       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
152  0.0000  0.4625       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
153  0.9625  0.0000       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
154  0.9875  0.0000       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
155  0.9875  0.0000       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
156  0.9875  0.0000       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
157  0.9875  0.0000       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
158  0.9875  0.0000       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
159  0.9875  0.0000       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
160  0.9875  0.0000       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
161  0.9875  0.0000       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
162  0.9875  0.0000       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
163  0.9875  0.0000       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
164  0.9875  0.0000       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
165  0.9875  0.0000       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
166  0.9875  0.0000       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  0.0
167  0.9875  0.0000       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  1.0
168  0.9875  0.0000       0.0       0.0  0.0    0.0    0.0  0.0  0.0  0.0  1.0
169  0.9875  0.0000       0.0       0.0  0.0    0.0    0.0  1.0  0.0  0.0  1.0

In [4]:
vels_df = pd.concat([game for game in games_vels.values()], ignore_index=True)
vels_df.shape

(1818816, 3)

In [5]:
inputs_df = pd.concat([game for game in games_inputs.values()], ignore_index=True)
inputs_df.shape

(5391724, 11)

In [6]:
proportion = vels_df.shape[0] / inputs_df.shape[0]

In [7]:
proportion

0.33733477455448385

In [8]:
# average number of analog position changes per second
# i.e., average number of velocity values per second
60*proportion

20.24008647326903